.booking.form h4 {
  margin-top: 0;
}

.box-selector {
  transition: all .5s;
}

.box-selector:hover {
  border-bottom: 2px solid #1976d2;
}

.MuiDateCalendar-root .MuiButtonBase-root {
  border-radius: 0% !important;
}

.MuiDateCalendar-root .MuiButtonBase-root:disabled {
  background-color: transparent !important;
}

.MuiDateCalendar-root .full:disabled {
  background-color: #f5cdcd !important;
}

.MuiDateCalendar-root .half {
  background-color: #f1e5b1!important;
}

.MuiDateCalendar-root .free {
  background-color: #d6f1d6 !important;
}

.MuiDateCalendar-root .Mui-selected {
  background-color: #1976d2 !important;
}