

.contenido-rooms {
  padding: 20px;
}

.contenido-rooms h2 {
  margin-bottom: 40px;
  color: #000000;
  font-size: 35px;
}

.lista-rooms {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.carta-room {
  background-color: #d1d1d1;
  border: 1px solid #000000;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 25px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carta-room:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.cabecera-room {
  display: flex;
  justify-content: space-between;
}

.carta-room h3 {
  color: #000000;
  margin: 0;
  font-size: 25px;
}

.carta-room p {
  color: #000000;
}

