.escaperoom-form {
  max-width: 800px;
}

.escaperoom-form .form-group {
  display: flex;
  margin-bottom: 30px;
  border-bottom: 1px solid #d4d4d4
}
.escaperoom-form .col-label {
  flex: 1 1 50%;
  padding: 20px 20px 20px 0;
}

.escaperoom-form .col-value {
  flex: 1 1 50%;
  padding: 20px 0 20px 20px;
}

.escaperoom-form .form-group label {
  font-size: 18px;
  font-weight: bolder;
  line-height: 34px;
}

.escaperoom-form .form-group .description {
  font-size: 13px;
  max-width: 400px;
  margin: 5px 0 0;
}
.escaperoom-form .form-group .description p {
  margin: 0;
}

.escaperoom-form input,
.escaperoom-form select,
.escaperoom-form textarea {
  width: 100%;
  padding: 8px 15px;
  resize: none;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
  font-size: 14px;

  transition: all .3s;
}

.escaperoom-form input:focus,
.escaperoom-form select:focus,
.escaperoom-form textarea:focus {
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
  outline: 0;
}

.escaperoom-form input::placeholder,
.escaperoom-form textarea::placeholder {
  opacity: 0.5;
}

.escaperoom-form button {
  background-color: transparent;
  color: inherit;
  text-transform: uppercase;
  padding: 10px 25px;
  cursor: pointer;
  border: 0;
  margin-right: 25px;

  transition: all .3s;
}

.escaperoom-form button[type="submit"] {
  background-color: #273746;
  color: white;
}

.escaperoom-form button:hover {
  background-color: #a6cbeb;
}

.escaperoom-form button[type="submit"]:hover {
  background-color: #526b81;
}