

/* .ficha {
    padding: 20px;
    background-color: #d6d6d6;
    border: 1px solid rgb(0, 0, 0);
    min-height: calc(95vh - 182px);
} */

.cabecera-ficha {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aaa;
    margin-bottom:20px;
    /* padding: 0px 20px; */
}

/* .contenido-ficha {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px 20px;
    min-height: 40vh;
    box-shadow: inset 0 0 0 1px #96989b;
    font-size: 15px;
} */

.contenido-ficha p {
    margin: 0;
}

.actions a {
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 6px 25px;
  text-decoration: none;
  color: inherit;
  box-shadow: 3px 3px 1px rgba(0,0,0,0.2);
  border-radius: 6px;
  margin-right: 20px;
  transition: all .3s;
}

.actions a:hover {
  background-color: #c0dbf3;
  box-shadow: 8px 8px 6px rgba(0,0,0,0.12);
}