.debug-card {
  background: white;
  font-size: 12px;
  padding: 20px;
  margin-top: 60px;
  display: none;
}

.dashboard-header {
  margin-bottom: 50px;
}

.dashboard-header h1 {
  margin:0;
}

.dashboard-content .actions a {
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 6px 25px;
  text-decoration: none;
  color: inherit;
  box-shadow: 3px 3px 1px rgba(0,0,0,0.2);
  border-radius: 6px;

  transition: all .3s;
}

.dashboard-content .actions a:hover {
  background-color: #c0dbf3;
  box-shadow: 8px 8px 6px rgba(0,0,0,0.12);
}

