.debug-card {
  background: white;
  font-size: 12px;
  padding: 20px;
  margin-top: 60px;
  display: none;
}

.user-info {
  font-size: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.dashboard-content .actions a {
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 6px 25px;
  text-decoration: none;
  color: inherit;
  box-shadow: 3px 3px 1px rgba(0,0,0,0.2);
  border-radius: 6px;
  margin-right: 20px;
  transition: all .3s;
}

.dashboard-content .actions a:hover {
  background-color: #c0dbf3;
  box-shadow: 8px 8px 6px rgba(0,0,0,0.12);
}

.pop-overlayCreate {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 20px; 
}

.pop-contentCreate {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  height: 45vh;
  position: relative;
}


