.nav-links {
  color: white;
}

.nav-links a {
  display: inline-block;
  padding: 0 15px;
  margin: 0 15px;

  color: white;
  text-decoration: none;
}

.nav-links button {
  background: none;
  border: 1px solid #888;
  color: white;
  text-transform: uppercase;
  padding: 5px 15px;
  margin-right: 15px;
  cursor: pointer;
}