.login-form {
  max-width: 400px;
  padding: 50px;
  background-color: white;
  border: 1px solid #d4d4d4;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25)
}

.login-form h2 {
  margin: 0 0 30px;
}

.login-form .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.login-form .form-group label {
  flex: 1 1 25%;
}

.login-form .form-group input {
  flex: 1 1 75%;

  padding: 8px 15px;
}

.login-form .form-actions {
  display: flex;
  justify-content: end;
}

.login-form button {
  background-color: #273746;
  color: white;
  text-transform: uppercase;
  padding: 8px 15px;
}

.test-credentials {
  padding: 30px;
  font-size: 12px;
  border: 1px solid #ebebeb;
  margin-top: 25px;
}