.test-credentials {
  text-align: center;
  padding: 30px;
  font-size: 12px;
  border: 1px solid #ebebeb;
  margin-top: 25px;
}

.login-container {
  margin-top: 50px;
  filter:
    drop-shadow(0px 3px 3px rgba(0,0,0,0.2))
    drop-shadow(0px 3px 4px rgba(0,0,0,0.14))
    drop-shadow(0px 1px 8px rgba(0,0,0,0.12))
}

.form-container {
  border-radius: 0 0 20px 20px;
}
 
.form-container h2 {
  text-align: center;
  margin-bottom: 15px !important;
}