.app-header {
  padding: 25px 15px;
  background-color: #273746;
  height: 30px;
}

.app-header .header-wrap {
  display: flex;
  align-items: center;
}

.app-header .branding {
  flex: 1 1 25%;
}

.app-header .app-nav {
  flex: 1 1 75%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.app-header .branding div {
  font-size: 30px;
  font-weight: bolder;
  margin: 0;
  color: white;
  line-height: 30px;
}

.app-header .branding span {
  color: #4fa6f8;
}

.main-content {
  padding: 30px 15px;
  min-height: calc(100vh - 182px);
}

.app-footer {
  text-align: center;
  background-color: #273746;
  color: white;
  font-size: 12px;
  line-height: 12px;
  padding: 15px;
}

.error-message {
  margin: 30px 0;
  padding: 15px;
  border: 1px solid #c05959;
}

.indented {
  display: flex;
  margin-bottom: 0;
  margin-left: 30px;
  border-bottom: 1px solid #d4d4d4;
}

.form {
  max-width: 800px;
}

.form-group {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid #d4d4d4
}

.col-label {
  flex: 1 1 50%;
  padding: 10px 20px 10px 0;
}

.col-value {
  flex: 1 1 50%;
  padding: 10px 0 10px 20px;
}

.form-actions {
  margin-top: 50px;
}

.col-label label {
  font-size: 18px;
  font-weight: bolder;
  line-height: 34px;
}

.indented label {
  font-size: 16px;
  line-height: 34px;
}

.description {
  font-size: 13px;
  max-width: 400px;
  margin: 5px 0 0;
}

p {
  margin: 0;
}

input, select, textarea {
  width: 100%;
  padding: 8px 15px;
  resize: none;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
  font-size: 14px;
  transition: all .3s;
}

input:focus, select:focus, textarea:focus {
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
  outline: 0;
}

input::placeholder, textarea::placeholder {
  opacity: 0.5;
}

.button {
  background-color: transparent;
  color: inherit;
  text-transform: uppercase;
  padding: 10px 25px;
  cursor: pointer;
  border: 0;
  margin-right: 25px;
  transition: all .3s;
}

.button[type="submit"] {
  background-color: #273746;
  color: white;
}

.button:hover {
  background-color: #a6cbeb;
}

.button[type="submit"]:hover {
  background-color: #526b81;
}

.actions {
  padding: 50px 0
}

.actions a {
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 6px 25px;
  text-decoration: none;
  color: inherit;
  box-shadow: 3px 3px 1px rgba(0,0,0,0.2);
  border-radius: 6px;
  margin-right: 20px;
  transition: all .3s;
}

.actions a:hover {
  background-color: #c0dbf3;
  box-shadow: 8px 8px 6px rgba(0,0,0,0.12);
}

.header-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #aaa;
    margin-bottom:20px;
}
.description-file p {
    margin: 0;
}

.contentList {
  padding: 20px;
}

.contentList h2 {
  margin-bottom: 40px;
  color: #000000;
  font-size: 35px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.list .MuiCard-root {
  display: flex;
  flex-direction: Column;
  flex: 1 1 23%;
}

.list .MuiCardActions-root {
  margin-top: auto;
}

.list .MuiButton-startIcon {
  margin-right: 3px;
}
