.app-header {
  padding: 25px 15px;
  background-color: #273746;
  height: 30px;
}

.app-header .header-wrap {
  display: flex;
  align-items: center;
}

.app-header .branding {
  flex: 1 1 25%;
}

.app-header .app-nav {
  flex: 1 1 75%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.app-header .branding div {
  font-size: 30px;
  font-weight: bolder;
  margin: 0;
  color: white;
  line-height: 30px;
}

.app-header .branding span {
  color: #4fa6f8;
}

.main-content {
  padding: 30px 15px;
  min-height: calc(100vh - 182px);
}

.app-footer {
  text-align: center;
  background-color: #273746;
  color: white;
  font-size: 12px;
  line-height: 12px;
  padding: 15px;
}

.error-message {
  margin: 30px 0;
  padding: 15px;
  border: 1px solid #c05959;
}