body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebebeb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contained {
  max-width: 1333px;
  margin: 0 auto;
}

.contained .contained {
  padding: 0 !important;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.MuiFilledInput-root {
  background-color: #E0E0E0 !important;
}

.MuiFilledInput-root:hover {
  background-color: #EBEBEB !important;
}

.MuiFilledInput-root .MuiFilledInput-input,
.MuiPickersFilledInput-root  {
  background-color: #FFFFFF !important;
}

.MuiFilledInput-root:hover .MuiFilledInput-input,
.MuiPickersFilledInput-root:hover  {
  background-color: #F8F8F8 !important;
}