.room-form {
  max-width: 800px;
}

.room-form .form-group {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid #d4d4d4
}

.room-form .form-group.indented {
  display: flex;
  margin-bottom: 0;
  margin-left: 30px;
  border-bottom: 1px solid #d4d4d4;
}

.room-form .col-label {
  flex: 1 1 50%;
  padding: 10px 20px 10px 0;
}

.room-form .col-value {
  flex: 1 1 50%;
  padding: 10px 0 10px 20px;
}

.room-form .form-actions {
  margin-top: 50px;
}

.room-form .form-group label {
  font-size: 18px;
  font-weight: bolder;
  line-height: 34px;
}

.room-form .form-group.indented label {
  font-size: 16px;
  line-height: 34px;
}

.room-form .form-group .description {
  font-size: 13px;
  max-width: 400px;
  margin: 5px 0 0;
}
.room-form .form-group .description p {
  margin: 0;
}

.room-form input,
.room-form select,
.room-form textarea {
  width: 100%;
  padding: 8px 15px;
  resize: none;
  box-sizing: border-box;
  border: 1px solid #d4d4d4;
  box-shadow: 0px 0px 0px rgba(0,0,0,0.2);
  font-size: 14px;

  transition: all .3s;
}

.room-form input:focus,
.room-form select:focus,
.room-form textarea:focus {
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
  outline: 0;
}

.room-form input::placeholder,
.room-form textarea::placeholder {
  opacity: 0.5;
}

.room-form button {
  background-color: transparent;
  color: inherit;
  text-transform: uppercase;
  padding: 10px 25px;
  cursor: pointer;
  border: 0;
  margin-right: 25px;
  transition: all .3s;
}

.room-form button[type="submit"] {
  background-color: #273746;
  color: white;
}

.room-form button:hover {
  background-color: #a6cbeb;
}

.room-form button[type="submit"]:hover {
  background-color: #526b81;
}

.pop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.pop-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 90%;
  position: relative;
}

.calendar {
  display: flex;
}

.day-of-week {
  flex: 1 1 100%;
}
