.schedules {
  margin-bottom: 10px;
}

.schedules label {
  font-size: 18px;
  font-weight: bolder;
  line-height: 34px;
}

.schedule-form {
  display: flex;
  gap: 30px;
  align-items: start;
  margin: 20px;
}

.schedule-form .action .MuiButtonBase-root {
  padding-top: 14px;
  padding-bottom: 14px;
}

.schedule-form > div {
  flex: 1 1 33%;
  justify-content: end;
}

.schedule-form > div .MuiFormHelperText-root {
  height: 20px;
}

.calendar {
  display: flex;
  min-height: 200px;
  border: 1px solid #bbb;
  margin: 20px;
}

.calendar .day-of-week {
  flex: 1 1 100%;
  text-align: center;
  border-left: 1px solid #bbb;
}

.calendar .day-name {
  padding: 10px 5px;
  font-size: 13px;
  text-transform: uppercase;
  background-color: #d4d4d4;
  color: #444;
}

.calendar .hour {
  margin: 5px 0;
}

.calendar .day-of-week:first-child {
  border-left: none;
}
