

.ficha {
    padding: 20px;
    background-color: #d6d6d6;
    border: 1px solid rgb(0, 0, 0);
    min-height: calc(95vh - 182px);
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.contenido-ficha {
    background: #ffffff;
    border-radius: 12px;
    padding: 20px 20px;
    min-height: 10vh;
    box-shadow: inset 0 0 0 1px #96989b;
    font-size: 15px;
}

.contenido-ficha p {
    margin: 0;
}