.schedules {
  margin-bottom: 10px;
  border-bottom: 1px solid #d4d4d4;
}

.schedules label {
  font-size: 18px;
  font-weight: bolder;
  line-height: 34px;
}

.schedule-form {
  display: flex;
  gap: 30px;
  align-items: center;
  margin: 20px;
}

.schedule-form .form-group {
  flex: 1 1 33%;
  gap: 10px;
  justify-content: end;
}

.calendar {
  display: flex;
  min-height: 200px;
  border: 1px solid #ccc;
  margin: 20px;
}

.calendar .day-of-week {
  flex: 1 1 100%;
  text-align: center;
  border-left: 1px solid #ccc;
}

.calendar .day-name {
  padding: 5px;
  background-color: #fff;
}

.calendar .hour {
  margin: 5px 0;
}

.calendar .day-of-week:first-child {
  border-left: none;
}
